*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

a{color: inherit; text-decoration: none;}
input{ font: inherit;}
ul,li{list-style: none;}

body{font-size: 14px; line-height: 1.5;}

/* layout */

.page{
  display: flex;
  height: 100vh;
}
.page aside{
  width: 240px;
}
.page main{
  flex-grow: 1;
}

/* aside */

aside{
  display: flex;
  flex-direction: column;
}
aside .newSong{
  text-align: center;
  padding: 10px;
}
aside .newSong.active{
  background: #d4d4d4;
}
aside .songList-container{
  flex-grow: 1;
}
aside .songList{
  text-align: left;
  border-top: 1px solid #999;
}
aside li{
  padding: 10px;
  border-bottom: 1px solid #eee;
}
aside li.active{
  background: #d4d4d4;
}
aside .drag {
  padding: 20px;
  border: 1px dashed #ddd;
  border-radius: 4px;
  
}

aside .click{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
aside .file{
  color: #999;
}

/* main */

main{
  background: #d4d4d4;
  padding: 32px;
}
main form{
  /* border: 1px solid red; */
}
main form input[type=text]{
  padding: 3px 8px;
  border-radius: 2px;
  border: 1px solid #ddd;
  height: 30px;
}
main form input[type=button],
main form input[type=submit],
main form button{
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
}
main .raw{
  padding: 8px 0; 
  display: flex;
  align-items: center;
}
main .raw label{
  width: 56px;
  text-align: right;
  margin-right: 8px;
}
main .raw.actions{
  margin-left: 64px;
}